
.protocol-wrap {
  padding: 0 18px;
  p {
    margin: 0 0 18px 0;
    font-size: 14px;
    line-height: 1.4;
    text-indent: 24px;
  }

  .protocol-big-title {
    text-align: center;
    font-weight: bold;
    margin-top: 36px;
  }

  .protocol-title {
    font-weight: bold;
    text-indent: 12px;
    margin-bottom: 0;
  }
}
