.JXCircle{
    .van-circle__layer{
        stroke-linecap:butt;
    }
    .van-circle{
        width: 220px !important;
        height: 220px !important;
    }
    .van-circle__text{
        font-size: 18px;
        white-space: pre-line;
        line-height: 25px;
    }
}