.MyContract{
    .title{
        text-align: center;
        padding: 30px;
        background-color: #fff;
        font-size: 26px;
    }
    .tab0{
        padding-bottom: 80px;
        margin-top: 10px;
        .createShortTime{
            font-size: 28px;
        }
        .content{
            background-color: #fff;
            padding: 30px;
            border-bottom: 1px solid #eee;
            .info{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                font-size: 28px;
            }
            .right{
               display: flex;
               .txt{
                    margin-left: 28px;
               }
            }
        }
    }
}