.cell{
    .van-cell {
        padding: 20px 26px;
        font-size: 32px;
        line-height: 43px;
        .van-cell__left-icon, .van-cell__right-icon{
            font-size: 35px;
        }
        .van-cell__right-icon{
            margin-top: 7px;
        }
        .van-cell__title{
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 0.2;
        }
    }
    .van-picker{
        min-height: 500px;
        .van-picker__cancel,.van-picker__confirm{
            font-size: 30px;
        }
        ul li{
            font-size: 30px;
        }
        .van-picker__toolbar{
            height: 65px;
            line-height: 65px;
        }
    }
}