.van-hairline--top-bottom::after,
.van-hairline-unset--top-bottom::after {
  border-width: 0 !important;
}
.category {
  height: 100vh;
  background: #f3f3f3;
  .categoryContain{
   padding-bottom: 30px;
  }
  .category-top {
    height: 500px;
    padding: 20px 0;
    background: linear-gradient(#151a33, #3b4255);
    .top-header {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      padding-top: 50px;
      font-size: 30px;
      .left {
        padding: 0 20px 0px 20px;
        width: 300px;
        .van-circle__text {
          color: #fff;
        }
      }
      .right {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        .btn {
          width: 90px;
          height: 50px;
          box-sizing: border-box;
          border: 1px solid #b3522f;
          border-radius: 10px;
          text-align: center;
          color: #b3522f;
          padding: 10px;
          margin-top: 5px;
          white-space: nowrap;
        }
        .cell-first {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
        }
        .cell {
          padding: 12px 0;
          line-height: 30px;
          .van-cell:not(:last-child)::after {
            border: none !important;
          }
          .van-cell {
            background-color: transparent !important;
            color: #fff;
            padding: 0px;
            .van-cell__value {
              color: #fff;
            }
            .van-cell__title{
              display: none;
            }
          }
        }
      }
    }
    .top-bottom {
      box-sizing: border-box;
      padding: 20px 40px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      color: #8e929d;
      font-size: 32rpx;
      .bottom-column {
        display: flex;
        flex-direction: column;
        .sell {
          color: #fff;
          padding-bottom: 15px;
        }
      }
    }
  }
  .category-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px;
    height: 115px;
    color: #000;
    background-color: #fff;
    div {
      display: flex;
      align-items: center;
      .img {
        width: 38px;
        height: 40px;
        padding-right: 16px;
      }
    }
  }
  .category-bottom {
    // background: #fff;
    margin-top: 20px;
    margin-bottom: 130px;
    .bottom-top {
      padding: 0 46px;
      font-size: 30px;
      height: 80px;
      line-height: 80px;
      display: flex;
      justify-content: space-between;
    }
    .bottom-center {
      border-top: 1px solid #eee;
      margin-bottom: 10px;
      background: #fff;
      font-size: 30px;
      .left {
        margin-right: 40px;
        // width: 300px;
      }
      .right {
        display: flex;
        flex: 1;
        flex-direction: column;
        line-height: 50px;
        .plagetype{
          font-weight: bold;
        }
        .quto{
          padding-right: 10px;
            color: #9fa0ab
        }
      }
      .van-cell {
        padding: 20px 26px;
        font-size: 30px;
        line-height: 43px;
        .van-cell__left-icon, .van-cell__title, .van-cell__right-icon{
            font-size: 30px;
        }
        .van-cell__right-icon{
            margin-top: 7px;
        }
       
    }
    .van-cell:not(:last-child)::after{
      border-bottom: 0.05rem solid #ebedf0;
    }
    }
    .bottom-bottom {
      width: 100%;
      border-top: 1px solid #eee;
      height: 90px;
      line-height: 90px;
      font-size: 30px;
      text-align: center;
      vertical-align: middle;
      color: #458aca;
    }
    .jx_warehouseContain{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  }

  .rediv {
    height: 100%;
    .tip {
      font-size: 32px;
      // font-weight: bold;
      text-align: center;
      padding: 80px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      image {
        width: 104px;
        height: 125px;
      }
      text {
        padding-top: 30px;
      }
    }
    .head {
      height: 460px;
      padding: 40px 0px;
      background-color: #c5ab8d;
      color: #fff;
      .company {
        font-size: 28px;
        color: #fff;
        padding: 0px 20px;
      }
      .bis {
        padding: 40px 20px;
        .bis-bg {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 6px;
          width: 362px;
          padding: 14px;
          font-size: 32px;
          display: flex;
          align-items: center;
          .icon {
            width: 30px;
            height: 18px;
            padding-left: 10px;
            img {
              display: block;
              width: 30px;
              height: 18px;
            }
          }
  
          div:nth-child(2) {
            padding: 0px 14px;
          }
          div:nth-child(4) {
            margin-left: 20px;
          }
        }
      }
      .quota {
        font-size: 28px;
        .num {
          font-size: 38px;
          width: 600px;
          // background-color: rgba(255,255,255, 0.2);
          display: flex;
          align-items: center;
          padding-left: 20px;
          padding: 26px 0px 26px 20px;
          // div:nth-child(2){
          //     margin-left: 300px;
          // }
          div {
            width: 300px;
          }
        }
        .text {
          width: 600px;
          display: flex;
          align-items: center;
          padding: 20px 0px 20px 20px;
          div {
            width: 300px;
          }
        }
      }
    }
  }
}