.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after {
    border-width: 0 !important;
}
.category {
  height: 100%;
  background: #F3F3F3;
  .category-top {
    height: 460%;
    padding: 20px 0;
    background:  linear-gradient(#151A33,#3B4255);
    .top-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 50px;
        font-size: 30px;
        .left {
            width: 300px;
            .van-circle__text {
                color: #fff;
            }
        }
        .right {
             color: #fff;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             flex-grow: 1;
            .btn {
                width: 90px;
                border: 1px solid #B3522F;
                border-radius: 10px;
                padding: 33px 10px;
                text-align: center;
                color: #B3522F;
            }
            .cell-first {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            .cell {
                padding: 12px 0;
                line-height: 30px;
                .van-cell {
                    background: none !important;
                    .van-field__control {
                        color:#fff;
                    }
                }

            }

        }
    }
    .top-bottom {
        box-sizing: border-box;
        padding: 20px 40px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: #8E929D;
        font-size: 32rpx;
        .bottom-column {
            display: flex;
            flex-direction: column;
            .sell {
                color: #fff;
                padding-bottom: 15px;
            }
        }
    }
  }
  .category-center {
      display: flex;
      justify-content: space-between;
       align-items: center;
       padding: 0 46px;
      height: 115px;
      color: #000;
      background-color: #fff;
      div {
          display: flex;
          align-items: center;
          .img {
              width: 38px;
              height: 40px;
              padding-right: 16px;
          }
      }
  }
  .category-bottom {
      background: #fff;
      margin-top: 60px;
      .bottom-top {
          padding: 0 46px;
          font-size: 30px;
          height: 80px;
          line-height: 80px;
          display: flex;
          justify-content: space-between;
      }
      .bottom-center {
          border-top: 1px solid #eee;
          display: flex;
          flex-wrap: nowrap;
         justify-content: center;
         align-items: center;
         padding: 20px;
         font-size: 30px;
          .left {
              width: 300px;
          }
          .right {
              display: flex;
              flex-direction: column;
              line-height: 50px;
          }
      }
      .bottom-bottom {
          width: 100%;
          border-top: 1px solid #eee;
        height: 90px;
        line-height: 90px;
        font-size: 30px;
        text-align: center;
        vertical-align:middle

      }
  }
}