.active_tab{
    height: 80px;
  }
  .active_tab img {
    width: 40px;
    height: 40px;
  }
  
  .van-tabbar-item__text span{
    font-size: 24px;
  }
  .van-tabbar-item--active {
    color: #C3A07B;
  }