.version{
    .van-divider{
        border-width:0.5px;
        border-color:#969799
    }
    .title{
        text-align: center;
    }
    .time{
        text-align: center;
    }
    .contain{
        .txt_indent{
            padding: 10px;
            text-indent:35px;
        }
    }
}