.ProductList{
    padding-top: 95px;
    .van-loading__text{
        font-size: 30px;
    }
    .van-list__finished-text{
        font-size: 30px;
    }
    .van-list{
        background-color: transparent;
        padding: 0px 20px 20px 20px;
    }
    .list{
        margin-top: 18px;
        font-size: 30px;
        border-radius: 10px;
        .list-item{
            padding: 40px 32px 32px 36px;
            background-color: #fff;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 5px 8px 25px#969696;
            .swipe{
                border-radius: 10px;
            }
            .cell{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:nth-child(1){
                    padding-bottom: 32px;
                    border-bottom: 1px dashed #c1c1c1;
                    image{
                        height: 56px;
                        width: 90px;
                    }
                }
                &:nth-child(2){
                    font-size: 26px;
                    color: #9fa0aa;
                    padding-top: 30px;
                    padding-bottom: 24px;
                }
            }
        }
    }
}
