
.register-wrap {
  text-align: center;
  height: 100vh;

  .van-cell-group {
    height: 100%;
    padding: 38px;
  }

  .codeBtn{
    background: linear-gradient(-90deg, #917451 0%, #a98d6b 40%, #c1a585 66%, #dfcdb4 100%);
    color: #fff;
    width: 180px;
    height: 70px;
    border: 0;
    font-size: 30px;
    border-radius: 10px;
  }

  .protocol {
    padding: 0 18px;

    a {
      color: #c1a585;
    }
  }

  .btn-block {
    width: 100%;
  }
}
