.ContractShow{
    font-size: 28px;
    .listItem{
        width: 100%;
        display: flex;
        background-color: #fff;
            .cnt {
                width: 50%;
                display: flex;
                justify-content: center;
                height: 80px;
                line-height: 80px;
                font-size: 30px;
                position: relative;
            }
            .com{
                width: 50%;
                display: flex;
                justify-content: center;
                height: 80px;
                line-height: 80px;
                font-size: 30px;
                position: relative;
                color: #bd9f7d;
            }
            .active:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width:120px;
                height: 4px;
                background:#bd9f7d;
            }
    }
    .tab0{
        padding-bottom: 80px;
        margin-top: 10px;
        .createShortTime{
            font-size: 28px;
        }
        .content{
            background-color: #fff;
            padding: 30px;
            border-bottom: 1px solid #eee;
            .info{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
            .right{
               display: flex;
               .txt{
                    margin-left: 28px;
               }
            }
        }
    }
    .tab1{
        font-size: 28px;
        padding-bottom: 80px;
        .title{
            display: flex;
            justify-content: space-between;
            padding: 25px;
            font-size: 25px;
        }
        .content{
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 30px;
            border-bottom: 1px solid #eee;
            .right{
               display: flex;
               .txt{
                    margin-left: 28px;
               }
            }
        }
    }
    .jx_nodata{
        img{
            width: 196px;
            height: 128px;
        }
        text-align: center;
        margin-top: 40%;
        .van-doc-demo-block__title{
            color:#969799;
        }
    }
 }