

#invoiceList {
    .van-cell-group {
        .van-field__left-icon {
            line-height: 60px;
            i {
                font-size: 32px;
            }
        }
        .van-field__body {
            height: 60px;
            font-size: 32px;
        }
    }    
}
