$margin: 30px 70px 50px;

#login {
    text-align: center;

    h3 {
        color: #051651;
        margin-top: 150px;
        font-size: 36px;
        margin-bottom: 48px;
    }

    .logo {
        width: 320px;
        margin-top: 170px;
        margin-bottom: 50px;
    }

    .van-cell-group {
        margin: $margin;
        background: none;

        .van-cell {
            height: 80px;
            line-height: 80px;
            margin-bottom: 24px;
            border: 1px solid #ddd;
            border-radius: 10px;

            .van-field__button {
                display: grid;

                img {
                    width: 120px;
                    height: 50px;
                }
            }

            .codeBtn {
                background: linear-gradient(-90deg, #917451 0%, #a98d6b 40%, #c1a585 66%, #dfcdb4 100%);
                color: #fff;
                width: 180px;
                height: 70px;
                border: 0;
                font-size: 30px;
                border-radius: 10px;
            }

            .codeImg {
                width: 180px;
                height: 70px;
                border-radius: 10px;
            }
        }
    }

    .login-btn-wrap {
        margin: $margin;
    }

    .oprateBtn {
        margin: $margin;
        display: flex;
        justify-content: space-between;

        .van-button {
            background: none;
            font-size: 30px;
        }

    }

    .registerBtn {
        margin-top: 200px;
        background: none;
        font-size: 30px;
        color: #c5ab8d;
    }

    .van-button--default {
        border: none;
    }

    .suspension{
        width: 100px;
        height: 100px;
        background-color: #ddd;
        opacity: 0.8;
        border-radius: 50%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: absolute;
        top: 50px;
        left:20px;
        img{
            width: 70%;
            margin-top: 10px;
        }
    }
}
