

.override.van-checkbox {
  height: 1.333333rem;
  line-height: 1.333333rem;
  font-size: 24px;

  .van-checkbox__icon {
    font-size: 24px;
  }

  .van-checkbox__label {
    line-height: 1.4;
  }
}
