body,
html {
    line-height: 1;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", arial, sans-serif, "Droid Sans Fallback";
    // background: #fff;
    background-color: #f8f8f8;
    // background-color: red;
    // color: #000;
    // width: 100%;
    // height: 100%;
}