
.detail-title {
    padding-left: 28px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;

    .iconfont {
        font-size: 28px;
        color: #c5ab8d;
        margin-right: 12px;
    }
}
